
* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;    
}

#sidenav {
    position: fixed;
    font-size: 12px;
    display: block;
    height: 100%;
    width: 160px;    
    overflow-x: hidden;
    padding-top: 20px;
}
.main-nav li a {
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}
#sidenav a:hover {
    color: #FF4500;
}
#sidenav a:active {
    color: #FF4500;
}
.main-nav {
    list-style-type: none;
    display: block;
}
.nav-links, .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.logo {
    display: inline-block;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    font-size: 24px;
    text-align: center;
    
    display: none;
}
.navbar-toggle div{
    margin: 0;
    padding: 0;
    line-height: 0px;
}

@media screen and (max-width: 550px) { /*Skeletons default grid-activation width*/
    #sidenav{
        position: relative;
    }
    .navbar-toggle{
        display: block;
    }
    .main-nav {
        display: none;
    }
    .active {
        display: block;
    }
    
}

/* */
#home{
    padding-top: 50px;
}
#home a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;        
}

/* */
#content {
    padding-top: 20px;
}

.responsive {
    max-width: 100%;
    height: auto;
}


/* */
#cv_page {
    display: none;
    font-size: 12px;
}
#cv_page table th{
    padding: 5px 5px;
    font-size: 14px;
}
#cv_page table td{
    padding: 5px 5px;
}

/* */
#portfolio_page {
    display: none;
}


/* */
#contact_page {
    display: none;
}





